[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Reader Notes
Exec=java -jar /usr/bin/readernotes/readernotes.jar
Icon=/usr/share/pixmaps/readernotes_logo.png
Version=0.2.6
Terminal=false;
Categories=Office;
